
.difference-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 90vh;
    top: 5vh;
    gap: 2vh;
    /* background-color: blueviolet; */
    

}
.difference-outline-small {
    position: relative;
    /* top: 5vh; */
    width: 100%;
    height: 50%;
    /* border: 1px solid white; */
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
  /* grid-template-rows: 1fr;    */
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
.difference-outline-large {
    /* background-color: blueviolet; */
    position: relative;
    /* top: 5vh; */
    width: 100%;
    height: 50%;
    /* border: 1px solid white; */
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
  /* grid-template-rows: 1fr;    */
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.half-screen-top {
    display: flex;
    width: 100%;
    height: 50%;
}
.half-screen-bottom {
    display: flex;
    width: 100%;
    height: 50%;
}
.left-top-box {
    border-right: white solid 1px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
}
.right-top-box {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    /* background-color: teal; */
}
.bottom-box {
    /* background-color: tomato; */
    height: 100%;
    width: 100%;
    border-top: white solid 1px;
    background-color: black;
    opacity: .7;
}
.difference-container-small {
    height: 90%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(52, 85, 69);
    /* opacity: .7; */
    /* background-color: violet; */
}
.difference-container-large {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* opacity: .7; */
    background-color: rgb(52, 85, 69);
}
.difference-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border: 1px solid white;
    border-radius: 50%;
    /* background-color: burlywood; */
}

.image-icon {
    height: 50px;
    width: 50px; 
}
.difference-heading {
    display: flex;
    width: 100%;
    height: 20%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;

    /* background-color: brown;  */

}

.difference-heading p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.difference-detail {
    display: flex;
    width: 80%;
    text-align: center;
    font-size: 16px;
     font-family: 'Red Hat Display', sans-serif;
    /* background-color: turquoise; */
    height: 30%;
    align-items: center;
    color: white;
    /* background-color: crimson; */
}


@media screen and (max-width: 850px) and (orientation: portrait) {
  .difference-outline-small {
    height: 80vh;
}
  .difference-outline-large {
    height: 50vh;
}
.difference-container-large {
    height: 100%;
    justify-content: flex-start;
    padding-top: 5%;
    margin-top: 15vh;
    /* height: 40vh; */
    /* gap: 4vh; */
    /* background-color: yellow; */
   
}
.difference-detail {
    padding-top: 25px;
}
}


@media screen and (max-width: 660px)and (orientation: portrait)  {
    /* .difference-wrapper {
        height: 250vh;
    } */

    .difference-outline-small {
         height: 100vh;
    
    }


    .difference-outline-large, .difference-outline-small {
         grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
         /* height: 100%; */
    }
    .difference-outline-large {
        height: 65vh;
    }

  
}

@media screen and (max-width: 520px)and (orientation: portrait)  {


    .difference-outline-small {
         height: 110vh;
    
    }


    .difference-outline-large {
        height: 90vh;
    }

  
}

@media screen and (max-width: 360px) and (orientation: portrait)  {
    .difference-outline-small {
        height: 155vh;
    }

    .difference-outline-large {
        height: 105vh;
    }
}


@media screen and (max-width:900px)  and (orientation: landscape) {
    .difference-page-heading {
        /* color: red; */
    }

    .difference-wrapper {
        height: 160vw;
    }

    .difference-container-large {
    height: 90%;
    justify-content: flex-start;
    padding-top: 5%;
    /* height: 40vh; */
    gap: 20px;
    /* background-color: yellow; */
   
}
}

@media screen and (max-width:600px)  and (orientation: landscape) {
    .difference-page-heading {
        /* color: red; */
    }

    .difference-wrapper {
        height: 210vw;
    }

        .difference-page-heading {
        /* color: blue; */
    }
}

@media screen and (max-width:500px)  and (orientation: landscape) {
    .difference-page-heading {
        /* color: yellow; */
    }

    .difference-wrapper {
        height: 260vw;
    }

}

@media screen and (max-width:450px)  and (orientation: landscape) {
    .difference-page-heading {
        /* color: tomato; */
    }

    .difference-wrapper {
        height: 310vw;
    }

}
