.features-outline {
    position: relative;
    top: 15vh;
    width: 90vw;
    /* margin: 0 5vw; */
    /* height: 100vh; */
    /* border: 1px solid white; */
   
    grid-template-columns:repeat(auto-fit, minmax(40vw, 1fr));
  /* grid-template-rows: 1fr;    */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 5vh;
  color: white;
  /* background-color: rgb(176 ,191, 184); */
  /* background-color: red; */

}

.feature-page-heading{
  display: flex;
  position: relative;
  top: 5vh;
  /* height: 15vh; */
  align-items: center;
  justify-content: center;
  color: white;
     font-family: 'Red Hat Display', sans-serif;
  /* background-color: black; */
  /* height: 100%; */
  font-size: 36px;
  font-weight: bold;
}
.feature-box {
    display: flex;
    /* background-color: white; */
    /* opacity: .7; */
    width: 100%;
    /* margin: 1vh 5vw; */
    height: 60vh;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(176 ,191, 184); */
    font-family: 'Red Hat Display', sans-serif;
     /* min-width: 500px; */
     /* max-width: 490px; */
    /* border: white 1px solid; */
     background-color:  rgb(52,85,69);
   
}

.feature-image-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}

.feature-text-container {
    display: grid;
    flex-direction: column;
    width: 90%;
    height: 100%;
    /* background-color: black; */
    align-items: center;
    /* justify-content: space-between; */
    /* margin-left: 5%; */
}
.feature-image {

    width: 90%;
    height: 90%;
    object-fit: cover;
  
}
.feature-heading {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 20%;
    width: 100%;
    text-align: left;
    /* background-color: blueviolet; */
}

.feature-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 90%;
    width: 100%;
    text-align: left;
    /* background-color: cyan; */

}

@media screen and (max-width: 1204px) and (orientation: portrait) {
    .feature-box {
        flex-direction: column;
        /* height: 140px; */
        /* min-width: 400px */
    ;
    }

    /* .feature-heading {
        justify-content: center;
    }
    .feature-detail {
        justify-content: center;
    } */
.features-outline {
     /* grid-template-columns:repeat(auto-fit, minmax(400px, 1fr)); */
}
.feature-image-container {
    height: 40%;
    /* background-color: thistle; */
}

.feature-text-container {
    height: 50%;
}

.feature-heading {
    height: 10%;
}
}

@media screen and (max-width: 858px) and (orientation: portrait) {
    .feature-box {
        /* height: 90vh; */
        /* min-width: 270px; */
    }

    .features-outline {
     /* grid-template-columns:repeat(auto-fit, minmax(270px, 1fr)); */
}
}
@media screen and (max-width: 700px) and (orientation: portrait) {
    .feature-box {
        height: 80vh;
        /* min-width: 90vw; */
    }

    .features-outline {
     grid-template-columns:repeat(auto-fit, minmax(90vw, 1fr));
     background-color: transparent;
}

}

@media screen and (max-width: 360px) and (orientation: portrait) {
   .feature-box {
    height: 90vh;
}
}


@media screen and (max-width:900px)  and (orientation: landscape) {
    .feature-page-heading {
        /* color: red; */
    }
    .features-outline {
        grid-template-columns:repeat(auto-fit, minmax(90vw, 1fr));
    }

        .feature-box {
        height: 50vw;
    }

}
@media screen and (max-width:600px)  and (orientation: landscape) {
    .feature-page-heading {
        /* color: blue; */
    }
    .feature-box {
        height: 70vw;
    }

}

@media screen and (max-width:500px)  and (orientation: landscape) {
   .feature-page-heading {
        /* color: yellow; */
    }



}

@media screen and (max-width:450px)  and (orientation: landscape) {
    .feature-page-heading {
        /* color: tomato; */
    }



}





