.home-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
    align-items: center;
    position: relative;
    top: 10vh;
}
.tag-line {
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    color: #345545;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    height: 10vh;
    width: 90%;
    font-size: 24px;
    top: -10vh;

}
@media screen and (max-width:900px) and (orientation: landscape) {
    .tag-line {
        height: 7.5vw;
        top: -7.5vw;
    }
    .carousel-dots {
    margin-top: 3vw !important;
}
}
@media screen and (max-width: 750px) {
    .tag-line { 
        font-size: 14px;
    }   
}

