.home-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
    align-items: center;
    position: relative;
    top: 10vh;
}
.tag-line {
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    color: #345545;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E5E5E5;
    height: 10vh;
    width: 90%;
    font-size: 24px;
    top: -12vh;

}
@media screen and (max-width:900px) and (orientation: landscape) {
    .tag-line {
        height: 10vw;
        /* top: -15vw; */
    }
    .carousel-dots {
    margin-top: 5vw !important;
}
}
@media screen and (max-width: 750px) {
    .tag-line { 
        font-size: 14px;
    }   
}

/* @media screen and (max-width: 550px) {
    .tag-line { 
        width: 85%;
    }   
} */