.range-page-container {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  height: 80%;
  width: 90%;
 
}
.range-page-heading{
  display: flex;
  position: relative;
  top: 15vh;
  align-items: center;
  justify-content: center;
  color: white;
   font-family: 'Red Hat Display', sans-serif;
  /* background-color: black; */
  /* height: 100%; */
  font-size: 36px;
  font-weight: bold;
}
.range-wrapper {

    position: relative;
    top: 15vh;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 0;
     
}

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    
    /* width: 20vw; */
}
.range-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    color : white;
    font-weight: bold;

}
.range-outline {
    display: grid;
    grid-template-rows: 1fr 2fr 5fr 1.5fr;
    border: 1px solid white;
    /* background-color: blanchedalmond; */
    height: 90%;
    width: 90%;
    background-color:  rgb(52,85,69);
}

.range-price {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 24px;
    color: white;
}

.range-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    /* background-color: blue; */
}

.range-image-container img {
  width: 100%;
  object-fit: cover;
}

.range-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0 5%;
    text-align: left;
 
}
.range-link-container {
    display: flex;
    align-items: flex-end;
    
    /* background-color: white; */
}
.range-link {
    display: flex;
   
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border: 1px solid white;
    border-radius: 60px;
     background-color: rgb(176 ,191, 184);
    

}

.range-link a {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    

}

.range-link-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

@media screen and (max-width: 1130px) {
 .range {
    height: 220vh;

 }
}
@media screen and (max-width: 1111px) {
    .range-outline {
        grid-template-rows: 1fr 2fr 7fr 1.5fr;

    }
    .range-link {
    height: 60px;
    width: 100%;
    }

    
}

@media screen and (max-width: 1111px) {
    /* .range-container {
        height: 120vh;
    } */

    
}
@media screen and (max-width: 555px) {
    /* .range-container {
        height: 120vh;
    } */
.range {
    height: 380vh;
}
    
}
@media screen and (max-height:900px) and (orientation:portrait) {
    .range {
        height: 440vh;
    }
    .range-container {
        height: 100vh;
    }
}
@media screen and (max-height:720px) and (orientation:portrait) {
    .range {
        height: 520vh;
    }
    .range-container {
        height: 120vh;
    }
}

@media screen and (max-height:520px) and (orientation:portrait) {
    .range {
        height: 620vh;
    }
    .range-container {
        height: 140vh;
    }
}

@media screen and (max-width:1200px)  and (orientation: landscape) {

.range-container{ 
    /* background-color: blueviolet; */
    height: 120vw;
}
.range {
    height: 275vw;
}
}








